trunk/src/bizworks/Common/Common/Schemas/Common.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.chicos.com/eai/Common/Schemas/Common"
	 xmlns:chsCom = "http://www.chicos.com/eai/Common/Schemas/Common"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "uuId" type = "chsCom:UUId"/>
	<simpleType name = "UUId">
		<restriction base = "string"/>
	</simpleType>
	<simpleType name = "BizUnit">
		<restriction base = "string">
			<enumeration value = "Accounting"/>
			<enumeration value = "BankingTax"/>
			<enumeration value = "BizIntel"/>
			<enumeration value = "HRPayroll"/>
		</restriction>
	</simpleType>
	<simpleType name = "Environment">
		<restriction base = "string">
			<enumeration value = "dev-local"/>
			<enumeration value = "dev"/>
			<enumeration value = "test"/>
			<enumeration value = "prod"/>
		</restriction>
	</simpleType>
	<simpleType name = "TrxType_Type">
		<restriction base = "string">
			<enumeration value = "Change"/>
			<enumeration value = "Create"/>
			<enumeration value = "Delete"/>
			<enumeration value = "Void"/>
		</restriction>
	</simpleType>
	<element name = "bizUnit" type = "chsCom:BizUnit"/>
	<element name = "system" type = "chsCom:System"/>
	<complexType name = "System">
		<sequence>
			<element name = "systemName" type = "string"/>
			<element name = "subSystemName" type = "string" minOccurs = "0"/>
			<element name = "version" type = "string"/>
		</sequence>
	</complexType>
	<element name = "UntypedData" type = "chsCom:UntypedData_Type"/>
	<complexType name = "UntypedData_Type">
		<sequence>
			<any namespace = "##any" processContents = "skip" minOccurs = "0"/>
		</sequence>
		<attribute name = "description" type = "string"/>
	</complexType>
	<element name = "UntypedStuff" type = "chsCom:UntypedStuff_Type"/>
	<complexType name = "UntypedStuff_Type">
		<sequence>
			<any namespace = "##any" processContents = "skip" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
		<attribute name = "description" type = "string"/>
	</complexType>
			<element name = "ProcessInput" type = "chsCom:UntypedData_Type"/>
			<element name = "ActivityInput" type = "chsCom:UntypedData_Type"/>
			<element name = "ActivityOutputs" type = "chsCom:UntypedData_Type"/>
			<element name = "ExternalSystem" type = "chsCom:UntypedData_Type"/>
	<element name = "Context" type = "chsCom:Context_Type"/>
	<complexType name = "Context_Type">
		<sequence>
			<element ref = "chsCom:ProcessInput"  minOccurs = "0"/>
			<element ref = "chsCom:ActivityInput" minOccurs = "0"/>
			<element ref = "chsCom:ActivityOutputs" minOccurs = "0" maxOccurs = "unbounded"/>
			<element ref = "chsCom:ExternalSystem" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
</schema>