trunk/src/bw/Common/Common/Functions/GEH.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://code.google.com/tvillars/tibco/bw/Common/Functions/GEH"
	 xmlns:chsGEH = "http://code.google.com/tvillars/tibco/bw/Common/Functions/GEH"
	 xmlns:chsCom = "http://uscis.gov/uscis/xsd/services/common/1.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:tns = "http://www.tibco.com/pe/EngineTypes"
	 elementFormDefault = "qualified">
	<import namespace = "http://uscis.gov/uscis/xsd/services/common/1.0" schemaLocation = "../Schemas/Common.xsd"/>
	<import namespace = "http://www.tibco.com/pe/EngineTypes" schemaLocation = "../Schemas/BizWorks/EngineTypes.xsd"/>
	<element name = "Error" type = "chsGEH:Error_Type"/>
	<element name = "TechInfo" type = "chsGEH:Info_Type"/>
	<element name = "TechWarn" type = "chsGEH:Warn_Type"/>
	<element name = "TechError" type = "chsGEH:TechError_Type"/>
	<element name = "DataInfo" type = "chsGEH:Info_Type"/>
	<element name = "DataWarn" type = "chsGEH:Warn_Type"/>
	<element name = "DataError" type = "chsGEH:DataError_Type"/>
	<element name = "ErrorReport" type = "tns:ErrorReport"/>
	<element name = "DescShort" type = "string"/>
	<element name = "DescLong" type = "string"/>
	<complexType name = "Info_Type">
		<sequence>
			<element ref = "chsCom:Context" minOccurs = "0"/>
			<element ref = "chsGEH:DescShort"/>
			<element ref = "chsGEH:DescLong" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "Warn_Type">
		<sequence>
			<element ref = "chsCom:Context" minOccurs = "0"/>
			<element ref = "chsGEH:DescShort"/>
			<element ref = "chsGEH:DescLong" minOccurs = "0" maxOccurs = "unbounded"/>
			<element ref = "chsGEH:ErrorReport" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "Error_Type">
		<sequence>
			<element ref = "chsCom:Context" minOccurs = "0"/>
			<element ref = "chsGEH:DescShort" minOccurs = "0"/>
			<element ref = "chsGEH:DescLong" minOccurs = "0" maxOccurs = "unbounded"/>
			<element ref = "chsGEH:ErrorReport" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "DataError_Type">
		<sequence>
			<element ref = "chsCom:Context" minOccurs = "0" maxOccurs = "unbounded"/>
			<element ref = "chsGEH:DescShort"/>
			<element ref = "chsGEH:DescLong" minOccurs = "0" maxOccurs = "unbounded"/>
			<element ref = "chsGEH:ErrorReport" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "TechError_Type">
		<sequence>
			<element ref = "chsCom:Context" minOccurs = "0" maxOccurs = "unbounded"/>
			<element ref = "chsGEH:DescShort"/>
			<element ref = "chsGEH:DescLong" minOccurs = "0" maxOccurs = "unbounded"/>
			<element ref = "chsGEH:ErrorReport" minOccurs = "0"/>
			<element ref = "chsGEH:Retry" minOccurs = "0"/>
		</sequence>
	</complexType>
	<element name = "TryForever" type = "chsGEH:TryForever_Type"/>
	<complexType name = "TryForever_Type">
		<sequence>
			<element name = "FirstError" minOccurs = "0">
				<complexType>
					<sequence>
						<element name = "SecsToPauseBetweenRetries" type = "int" minOccurs = "0"/>
						<element name = "RetryCountToLogError" type = "int" minOccurs = "0"/>
					</sequence>
				</complexType>
			</element>
			<element name = "SubsequentErrors" minOccurs = "0">
				<complexType>
					<sequence>
						<element name = "SecsToPauseBetweenRetries" type = "int" minOccurs = "0"/>
						<element name = "RetryCountToLogError" type = "int" minOccurs = "0"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name = "TryXTimes" type = "chsGEH:TryXTimes_Type"/>
	<complexType name = "TryXTimes_Type">
		<sequence>
			<element name = "TimesToTry" type = "int"/>
			<element name = "SecsToPauseBetweenRetries" type = "int"/>
		</sequence>
	</complexType>
	<element name = "RetryOptions" type = "chsGEH:RetryOptions_Type"/>
	<complexType name = "RetryOptions_Type">
		<sequence>
			<choice>
				<element name = "TryForever" type = "chsGEH:TryForever_Type"/>
				<element name = "TryXTimes" type = "chsGEH:TryXTimes_Type"/>
			</choice>
		</sequence>
	</complexType>
	<element name = "Retry" type = "chsGEH:Retry_Type"/>
	<complexType name = "Retry_Type">
		<sequence>
			<element name = "RetryCount" type = "int"/>
			<element ref = "chsGEH:RetryOptions"/>
		</sequence>
	</complexType>
</schema>