trunk/src/bw/Common/Common/Schemas/BizWorks/WriteToLog.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco.com/pe/WriteToLogActivitySchema"
	 targetNamespace = "http://www.tibco.com/pe/WriteToLogActivitySchema"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "ActivityInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "message" type = "xsd:string"/>
				<xsd:element name = "msgCode" type = "xsd:string" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>