trunk/src/bw/Common/Common/Resources/Schemas.BW/TNT Plug Ins.xsd

<?xml version='1.0'?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/file" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/file" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name="CopyActivityConfig">
        <xs:sequence>
            <xs:element name="fromFileName" form="unqualified" type="xs:string"/>
            <xs:element name="toFileName" form="unqualified" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CopyActivityOutput">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateActivityConfigClass">
        <xs:sequence>
            <xs:element name="override" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="createDirectory" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="createMissingDirectories" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="overwrite" form="unqualified" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateActivityInputClass">
        <xs:sequence>
            <xs:element name="fileName" form="unqualified" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateActivityOutputClass">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventSourceConfigClass">
        <xs:sequence>
            <xs:element name="fileName" form="unqualified" type="xs:string"/>
            <xs:element name="pollInterval" form="unqualified" type="xs:int"/>
            <xs:element name="includeSubDirectories" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="includeCurrent" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="excludeContent" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="mode" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="encoding" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="encodingUsed" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="sortby" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="sortorder" form="unqualified" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventSourceOuputBinaryClass">
        <xs:sequence>
            <xs:element name="action" form="unqualified" type="xs:string"/>
            <xs:element name="timeOccurred" form="unqualified" type="xs:long"/>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
            <xs:element name="fileContent" form="unqualified" type="tns:fileContentTypeBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventSourceOuputNoContentClass">
        <xs:sequence>
            <xs:element name="action" form="unqualified" type="xs:string"/>
            <xs:element name="timeOccurred" form="unqualified" type="xs:long"/>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventSourceOuputTextClass">
        <xs:sequence>
            <xs:element name="action" form="unqualified" type="xs:string"/>
            <xs:element name="timeOccurred" form="unqualified" type="xs:long"/>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
            <xs:element name="fileContent" form="unqualified" type="tns:fileContentTypeTextClass"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileIOException"/>
    <xs:complexType name="ListFilesActivityConfig">
        <xs:sequence>
            <xs:element name="fileName" form="unqualified" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ListFilesActivityOutput">
        <xs:sequence>
            <xs:element name="files" form="unqualified" type="tns:files"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadActivityConfigClass">
        <xs:sequence>
            <xs:element name="excludeContent" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="encoding" form="unqualified" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadActivityInputClass">
        <xs:sequence>
            <xs:element name="fileName" form="unqualified" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadActivityOutputBinaryClass">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
            <xs:element name="fileContent" form="unqualified" type="tns:fileContentTypeBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadActivityOutputNoContentClass">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadActivityOutputTextClass">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
            <xs:element name="fileContent" form="unqualified" type="tns:fileContentTypeTextClass"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemoveActivityConfigClass"/>
    <xs:complexType name="RemoveActivityInputClass">
        <xs:sequence>
            <xs:element name="fileName" form="unqualified" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemoveActivityOutputClass">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RenameActivityConfig">
        <xs:sequence>
            <xs:element name="fromFileName" form="unqualified" type="xs:string"/>
            <xs:element name="toFileName" form="unqualified" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RenameActivityOutput">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WriteActivityConfigClass">
        <xs:sequence>
            <xs:element name="createNewFile" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="append" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="encoding" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="compressFile" form="unqualified" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WriteActivityInputBinaryClass">
        <xs:sequence>
            <xs:element name="fileName" form="unqualified" type="xs:string"/>
            <xs:element name="binaryContent" form="unqualified" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WriteActivityInputTextClass">
        <xs:sequence>
            <xs:element name="fileName" form="unqualified" type="xs:string"/>
            <xs:element name="textContent" form="unqualified" type="xs:string"/>
            <xs:element name="addLineSeparator" form="unqualified" type="xs:boolean" minOccurs="0"/>
            <xs:element name="encoding" form="unqualified" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WriteActivityOutputClass">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fileContentTypeBinary">
        <xs:sequence>
            <xs:element name="binaryContent" form="unqualified" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fileContentTypeTextClass">
        <xs:sequence>
            <xs:element name="textContent" form="unqualified" type="xs:string"/>
            <xs:element name="encoding" form="unqualified" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fileInfoType">
        <xs:sequence>
            <xs:element name="fullName" form="unqualified" type="xs:string"/>
            <xs:element name="fileName" form="unqualified" type="xs:string"/>
            <xs:element name="location" form="unqualified" type="xs:string"/>
            <xs:element name="configuredFileName" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="type" form="unqualified" type="xs:string"/>
            <xs:element name="readProtected" form="unqualified" type="xs:boolean"/>
            <xs:element name="writeProtected" form="unqualified" type="xs:boolean"/>
            <xs:element name="size" form="unqualified" type="xs:long"/>
            <xs:element name="lastModified" form="unqualified" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="files">
        <xs:sequence>
            <xs:element name="fileInfo" form="unqualified" type="tns:fileInfoType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CopyActivityConfig" type="tns:CopyActivityConfig"/>
    <xs:element name="CopyActivityOutput" type="tns:CopyActivityOutput"/>
    <xs:element name="CreateActivityConfigClass" type="tns:CreateActivityConfigClass"/>
    <xs:element name="CreateActivityInputClass" type="tns:CreateActivityInputClass"/>
    <xs:element name="CreateActivityOutputClass" type="tns:CreateActivityOutputClass"/>
    <xs:element name="EventSourceConfigClass" type="tns:EventSourceConfigClass"/>
    <xs:element name="EventSourceOuputBinaryClass" type="tns:EventSourceOuputBinaryClass"/>
    <xs:element name="EventSourceOuputNoContentClass" type="tns:EventSourceOuputNoContentClass"/>
    <xs:element name="EventSourceOuputTextClass" type="tns:EventSourceOuputTextClass"/>
    <xs:element name="FileIOException" type="tns:FileIOException"/>
    <xs:element name="ListFilesActivityConfig" type="tns:ListFilesActivityConfig"/>
    <xs:element name="ListFilesActivityOutput" type="tns:ListFilesActivityOutput"/>
    <xs:element name="ReadActivityConfigClass" type="tns:ReadActivityConfigClass"/>
    <xs:element name="ReadActivityInputClass" type="tns:ReadActivityInputClass"/>
    <xs:element name="ReadActivityOutputBinaryClass" type="tns:ReadActivityOutputBinaryClass"/>
    <xs:element name="ReadActivityOutputNoContentClass" type="tns:ReadActivityOutputNoContentClass"/>
    <xs:element name="ReadActivityOutputTextClass" type="tns:ReadActivityOutputTextClass"/>
    <xs:element name="RemoveActivityConfigClass" type="tns:RemoveActivityConfigClass"/>
    <xs:element name="RemoveActivityInputClass" type="tns:RemoveActivityInputClass"/>
    <xs:element name="RemoveActivityOutputClass" type="tns:RemoveActivityOutputClass"/>
    <xs:element name="RenameActivityConfig" type="tns:RenameActivityConfig"/>
    <xs:element name="RenameActivityOutput" type="tns:RenameActivityOutput"/>
    <xs:element name="WriteActivityConfigClass" type="tns:WriteActivityConfigClass"/>
    <xs:element name="WriteActivityInputBinaryClass" type="tns:WriteActivityInputBinaryClass"/>
    <xs:element name="WriteActivityInputTextClass" type="tns:WriteActivityInputTextClass"/>
    <xs:element name="WriteActivityOutputClass" type="tns:WriteActivityOutputClass"/>
</xs:schema>